@import "./common";
@import "./general";

.app {
    display: flex;

    main {
        flex-grow: 1;
        transition: all 300ms ease;
        .empty {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            min-height: 50vh;
            font-size: 1.5rem;
            color: $gray40;
        }
        .books {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    aside {
        margin-left: rem(25px);
        flex: 0 0 30%;
        min-width: rem(230px);
        max-width: rem(300px);
        transition: transform 300ms ease;
        @include media-mobile {
            position: fixed;
            margin: 0;
            width: rem(240px);
            transform: translateX(calc(-100% - 20px));
        }
    }

    .sidebar-trigger {
        display: none;
        position: fixed;
        right: 15px;
        top: 25px;
        padding: 6px;
        background-color: $gray20;
        border-radius: 6px;
        @include media-mobile {
            display: flex;
        }
    }

    &.sidebar-open {
        overflow: hidden;
        main {
            @include media-mobile {
                opacity: 0.4;
                transform: translateX(#{rem(260px)});
            }
        }
        aside {
            @include media-mobile {
                transform: none;
            }
        }
    }
}
