@import '../styles/common';

.book-search {
        input {
            font-size: rem(16px);
            width: 100%;
            padding: rem(13px) 0 rem(13px) rem(15px);
            margin-right: rem(15px);
            border: none;
            border-bottom: 1px solid $gray30;
            @include media-mobile {
                width: calc(100% - 50px);
            }
        }
        p {
            margin-left: rem(15px);
        }
}
